name: Publish Maven to GitHub Pages

on: [pull_request, push]

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: temurin

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build & Publish to local repo
        run: ./gradlew clean build publish

      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: build/repo

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
